@import "./partials/fonts";
@import "./partials/reset";
@import "./partials/keyframes";
@import "./partials/mixins";
@import "./partials/colors";
@import "./main_site/header";
@import "./main_site/slider";
@import "./main_site/hero";
@import "./main_site/comments";
@import "./main_site/footer";

/*  Helpers  */

.bigContainer {
    width: 100%;

    @include for-tablet-landscape-up {
        width: 90vw;
        margin: 0 auto;
    }
}

.smallContainer {
    width: 100%;
    margin: 0 auto;

    @include for-tablet-landscape-up {
        width: 90%;
    }

    @include for-desktop-up {
        width: 80%;
    }
}

body {
    background: $backgroundColor;
}